@import 'variables';
@import 'mixins';
@import url('https://fonts.googleapis.com/css?family=Francois+One&display=swap');

// Body and html
body, html {
  height: 100%;
  width: 100%;
  background-color: #000;
}

html {
  scroll-behavior: smooth;
}

// Nav section
.nav-bar {
  display: flex;
  padding: .7rem;
  border-bottom: .5px solid $dividerColor;

  .navbar-item {
    display: flex;
  }

  .navbar-item-right {
    margin-left: auto;
  }

  .nav_link {
    padding-right: 8px;

    a {
      color: $textAndIcons;
      font-size: 1.3rem;
      transition: all .3s ease-in-out;

      &:hover {
        color: $accentColor;
      }
    }
  }

  .brand-logo {
    color: $textAndIcons;
    font-size: 2.3rem;

    span {
      color: $accentColor;
      font-weight: 700;
    }
  }

  .nav-toggle {
    display: none;
  }

  @include mQ(768px){
    flex-direction: column;

    .navbar-item:not(:first-child) {
      display: none;
    }

    .navbar-item {
      flex-direction: column;
    }

    .nav-toggle {
      align-self: flex-end;
      display: initial;
      position: absolute;
      cursor: pointer;
    }

    .navbar-item-right {
      flex-direction: column;
      margin-left: 0;
    }

    .navbar-toggle-show {
      display: flex;
    }
  }

} // End of nav-bar

.cart {
  color: $accentColor;
  font-size: 2.3rem;
  position: relative;
  span {
    position: absolute;
    bottom: 0;
    left: 0;
    font-size: 1rem;
    color: $textAndIcons;
  }
}


// Header section.
.landing {
  height: 800px;
  width: 100%;
  color: $textAndIcons;
  background-image: url('/images/bg.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  -webkit-box-shadow: 0px 7px 13px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 7px 13px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 7px 13px 0px rgba(0,0,0,0.75);

  .intro-text {
    padding-top: 3rem;
  }

  .featured {
    width: 100%;
    margin-top: 1.5rem;
    text-align: center;
  }
}

.button_landing {
  text-align: left;
  margin-top: 3rem;
  a {
    color: $primaryText !important;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    background: $accentColor;
    padding: 10px;
    border: none;
    display: inline-block;
    transition: all 0.4s ease 0s;
    transform-origin: center;

    &:hover {
      letter-spacing: 1px;
      background: $accentColor;
      border-color: $accentColor !important;
      transition: all 0.4s ease 0s;
      transform-origin: center;

    }
  }
}

// Genres

.section-title {
  text-align: center;
  color: $textAndIcons;
}

.divider {
  width: 60px;
  border: 1px solid $accentColor;
}
.genres {
  width: 100%;
  display: flex;
  .genre-item {
    width: 100px;
    color: $textAndIcons;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid $primaryText;
    padding: 2px 10px;
    margin: 10px;
  }
}

// Albums, artists and songs section
.main_music {
  height: 500px;
  overflow: scroll;
  padding: 10px;
  background-color: $primaryText;
  -webkit-box-shadow: 0px 7px 13px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 7px 13px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 7px 13px 0px rgba(0,0,0,0.75);

  .songs-content {
    position: relative;
    margin-bottom: 10px;
    .buttons {
      position: absolute;

      right: 0;
      top: 0;

      button {
        font-size: 22px;
        cursor: pointer;
        border: none;
        background-color: $accentColor;
        border-radius:0 0 0 0.5rem;
        transition: all .3s ease-in-out;

        &:hover {
          background-color: darken($accentColor, 15%);
        }
      }
    }
    .song-price {
      position: absolute;
      top: 0;
      right: 50px;
      color: $textAndIcons;
    }
  }

  .artist-content {
    display: flex;
    margin-bottom: 10px;
    .artist-image {
      height: 120px;
      width: 120px;
      border-radius: 50%;
      border: 1px solid $accentColor;
      img {
        border-radius: 50%;
        height:100%;
        width: 100%;
      }
    }
    .artist-details {
      align-self: center;
      margin-left: 35px;
      font-size: 1.2rem;
      color: $textAndIcons;
    }
  }

  .album-content {
    display: flex;
    margin-bottom: 10px;
    width: 100%;
    height: 100px;
    background-image: linear-gradient(to left, #3e2723, #795548);
    .album-art {

      img {
        height: 100px;
        width: 100px;
      }
    }

    .album-details {
      color: $textAndIcons;
      margin-left: 15px;

      .title {
        font-weight: 700;
      }
      .album-price {
        margin-top: 10px;
      }
    }

    .album-buttons {
      margin-left: auto;
      button {
        font-size: 22px;
        cursor: pointer;
        border: none;
        background-color: $accentColor;
        border-radius:0 0 0 0.5rem;
        transition: all .3s ease-in-out;

        &:hover {
          background-color: darken($accentColor, 15%);
        }
      }

    }
  }
}

// shopping cart page
.my-cart {
  width: 100%;
  position: relative;
  .cart-container{
    margin-top: 20px;
    background-color: $primaryText;
    width: 50%;

    .cart-table {
      text-align: center;

      td, th {
        text-align: center;
        color: $textAndIcons;
      }

      .remove-item-btn{
        width: 25px;
        height: 25px;
        cursor: pointer;
        background: red;
        border: none;
        border-radius: 50%;
      }
    }

    .cart-header {
      padding: 10px;

    }

    .cart-total {
        width: 100%;
        color: $textAndIcons;
        font-size: 1.6rem;
        border-top: 1px solid $accentColor;
        border-bottom: 1px solid $accentColor;
        padding: 20px;
        background: darken($primaryText, 10%);
        display: flex;
        .cart-subtotal {
          margin-left: auto;
        }
    }

    .cart-buttons {
        display: flex;
        justify-content: space-between;
        padding: 20px;

        .checkout-btn {
          button {
            background: $accentColor;
            padding: 10px;
            cursor: pointer;
            border: none;
            text-transform: uppercase;
            transition: all .3s ease-in-out;

            &:hover {
              transform: scale(1.02)
            }
          }
        }

        .continue-shopping-btn {
          button {
            background: darken($accentColor, 10%);
            padding: 10px;
            cursor: pointer;
            border: none;
            text-transform: uppercase;
            transition: all .3s ease-in-out;

            &:hover {
              transform: scale(1.02)
            }
          }
        }
    }
  }
}


footer {
  display: flex !important;
  justify-content: center;
  align-items: center;
  height: 100px;
  margin-top: 20px;
  color: $textAndIcons;
  background-color: #141410;
}
