@import url("https://fonts.googleapis.com/css?family=Francois+One&display=swap");
body, html {
  height: 100%;
  width: 100%;
  background-color: #000; }

html {
  scroll-behavior: smooth; }

.nav-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: .7rem;
  border-bottom: 0.5px solid #BDBDBD; }
  .nav-bar .navbar-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .nav-bar .navbar-item-right {
    margin-left: auto; }
  .nav-bar .nav_link {
    padding-right: 8px; }
    .nav-bar .nav_link a {
      color: #FFFFFF;
      font-size: 1.3rem;
      -webkit-transition: all .3s ease-in-out;
      -o-transition: all .3s ease-in-out;
      transition: all .3s ease-in-out; }
      .nav-bar .nav_link a:hover {
        color: #FFC107; }
  .nav-bar .brand-logo a {
    color: #FFFFFF;
    font-size: 2.3rem; }
    .nav-bar .brand-logo a span {
      color: #FFC107;
      font-weight: 700; }
  .nav-bar .nav-toggle {
    display: none; }
  @media screen and (max-width: 768px) {
    .nav-bar {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column; }
      .nav-bar .navbar-item:not(:first-child) {
        display: none; }
      .nav-bar .navbar-item {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column; }
      .nav-bar .nav-toggle {
        -ms-flex-item-align: end;
        align-self: flex-end;
        display: initial;
        position: absolute;
        cursor: pointer; }
      .nav-bar .navbar-item-right {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        margin-left: 0; }
      .nav-bar .navbar-toggle-show {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex; } }

.cart {
  color: #FFC107;
  font-size: 2.3rem;
  position: relative; }
  .cart span {
    position: absolute;
    bottom: 0;
    left: 0;
    font-size: 1rem;
    color: #FFFFFF; }

.landing {
  height: 800px;
  width: 100%;
  color: #FFFFFF;
  background-image: url("/images/bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  -webkit-box-shadow: 0px 7px 13px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 7px 13px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 7px 13px 0px rgba(0, 0, 0, 0.75); }
  .landing .intro-text {
    padding-top: 3rem; }
  .landing .featured {
    width: 100%;
    margin-top: 1.5rem;
    text-align: center; }

.button_landing {
  text-align: left;
  margin-top: 3rem; }
  .button_landing a {
    color: #212121 !important;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    background: #FFC107;
    padding: 10px;
    border: none;
    display: inline-block;
    -webkit-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
    -webkit-transform-origin: center;
    -ms-transform-origin: center;
    transform-origin: center; }
    .button_landing a:hover {
      letter-spacing: 1px;
      background: #FFC107;
      border-color: #FFC107 !important;
      -webkit-transition: all 0.4s ease 0s;
      -o-transition: all 0.4s ease 0s;
      transition: all 0.4s ease 0s;
      -webkit-transform-origin: center;
      -ms-transform-origin: center;
      transform-origin: center; }

.section-title {
  text-align: center;
  color: #FFFFFF; }

.divider {
  width: 60px;
  border: 1px solid #FFC107; }

.genres {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .genres .genre-item {
    width: 100px;
    color: #FFFFFF;
    height: 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    border: 2px solid #212121;
    padding: 2px 10px;
    margin: 10px; }

.main_music {
  height: 500px;
  overflow: scroll;
  padding: 10px;
  background-color: #212121;
  -webkit-box-shadow: 0px 7px 13px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 7px 13px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 7px 13px 0px rgba(0, 0, 0, 0.75); }
  .main_music .songs-content {
    position: relative;
    margin-bottom: 10px; }
    .main_music .songs-content .buttons {
      position: absolute;
      right: 0;
      top: 0; }
      .main_music .songs-content .buttons button {
        font-size: 22px;
        cursor: pointer;
        border: none;
        background-color: #FFC107;
        border-radius: 0 0 0 0.5rem;
        -webkit-transition: all .3s ease-in-out;
        -o-transition: all .3s ease-in-out;
        transition: all .3s ease-in-out; }
        .main_music .songs-content .buttons button:hover {
          background-color: #ba8b00; }
    .main_music .songs-content .song-price {
      position: absolute;
      top: 0;
      right: 50px;
      color: #FFFFFF; }
  .main_music .artist-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 10px; }
    .main_music .artist-content .artist-image {
      height: 120px;
      width: 120px;
      border-radius: 50%;
      border: 1px solid #FFC107; }
      .main_music .artist-content .artist-image img {
        border-radius: 50%;
        height: 100%;
        width: 100%; }
    .main_music .artist-content .artist-details {
      -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
      margin-left: 35px;
      font-size: 1.2rem;
      color: #FFFFFF; }
  .main_music .album-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 10px;
    width: 100%;
    height: 100px;
    background-image: -webkit-gradient(linear, right top, left top, from(#3e2723), to(#795548));
    background-image: -webkit-linear-gradient(right, #3e2723, #795548);
    background-image: -o-linear-gradient(right, #3e2723, #795548);
    background-image: linear-gradient(to left, #3e2723, #795548); }
    .main_music .album-content .album-art img {
      height: 100px;
      width: 100px; }
    .main_music .album-content .album-details {
      color: #FFFFFF;
      margin-left: 15px; }
      .main_music .album-content .album-details .title {
        font-weight: 700; }
      .main_music .album-content .album-details .album-price {
        margin-top: 10px; }
    .main_music .album-content .album-buttons {
      margin-left: auto; }
      .main_music .album-content .album-buttons button {
        font-size: 22px;
        cursor: pointer;
        border: none;
        background-color: #FFC107;
        border-radius: 0 0 0 0.5rem;
        -webkit-transition: all .3s ease-in-out;
        -o-transition: all .3s ease-in-out;
        transition: all .3s ease-in-out; }
        .main_music .album-content .album-buttons button:hover {
          background-color: #ba8b00; }

.my-cart {
  width: 100%;
  position: relative; }
  .my-cart .cart-container {
    margin-top: 20px;
    background-color: #212121;
    width: 50%; }
    .my-cart .cart-container .cart-table {
      text-align: center; }
      .my-cart .cart-container .cart-table td, .my-cart .cart-container .cart-table th {
        text-align: center;
        color: #FFFFFF; }
      .my-cart .cart-container .cart-table .remove-item-btn {
        width: 25px;
        height: 25px;
        cursor: pointer;
        background: red;
        border: none;
        border-radius: 50%; }
    .my-cart .cart-container .cart-header {
      padding: 10px; }
    .my-cart .cart-container .cart-total {
      width: 100%;
      color: #FFFFFF;
      font-size: 1.6rem;
      border-top: 1px solid #FFC107;
      border-bottom: 1px solid #FFC107;
      padding: 20px;
      background: #080808;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; }
      .my-cart .cart-container .cart-total .cart-subtotal {
        margin-left: auto; }
    .my-cart .cart-container .cart-buttons {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      padding: 20px; }
      .my-cart .cart-container .cart-buttons .checkout-btn button {
        background: #FFC107;
        padding: 10px;
        cursor: pointer;
        border: none;
        text-transform: uppercase;
        -webkit-transition: all .3s ease-in-out;
        -o-transition: all .3s ease-in-out;
        transition: all .3s ease-in-out; }
        .my-cart .cart-container .cart-buttons .checkout-btn button:hover {
          -webkit-transform: scale(1.02);
          -ms-transform: scale(1.02);
          transform: scale(1.02); }
      .my-cart .cart-container .cart-buttons .continue-shopping-btn button {
        background: #d39e00;
        padding: 10px;
        cursor: pointer;
        border: none;
        text-transform: uppercase;
        -webkit-transition: all .3s ease-in-out;
        -o-transition: all .3s ease-in-out;
        transition: all .3s ease-in-out; }
        .my-cart .cart-container .cart-buttons .continue-shopping-btn button:hover {
          -webkit-transform: scale(1.02);
          -ms-transform: scale(1.02);
          transform: scale(1.02); }

footer {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 100px;
  margin-top: 20px;
  color: #FFFFFF;
  background-color: #141410; }
